/* Default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
        background-image: url('pxfuel.jpg'); /* Replace 'background-image.jpg' with your image file path */
        background-size: cover; /* Adjust the background size as needed */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional: This keeps the background fixed when scrolling */
}

#google-container {
    text-align: center;
    margin-top: 150px;
}

#google-logo {
    width: 272px;
    height: 92px;
    background: url('https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_92x30dp.png') no-repeat;
    background-size: 272px 92px;
}

.search-box {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#search-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#notes-box {
    border: 1px solid #ccc;
    padding: 45px;
    margin: 10px;
    width: 163px;
}

#notes-list {
    margin-right: 758px;
}

.delete-button {
    margin-right: 13px;
}

#add-button {
    margin: 3px;
    margin-right: 133px;
    color: white;
    background: royalblue;
}

.counter {
    border: 1px solid #ccc;
    padding: 38px;
    margin-left: 8px;
    width: 163px;
}

.startCounter {
    margin-left: 0px;
    margin-top: 7px;
    color: white;
    background: royalblue;
}

#countdown {
    margin-left: 75px;
    margin-top: -23px;
}

.time-box {
    border: 2px solid rgb(192, 186, 186);
    padding: 10px;
    margin: 20px;
    float: right;
    margin-top: -292px;
}

#current-time {
    margin-left: 64px;
}



.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 10px;
}

.social-icons img {
    width: 45px;
    height: 40px;
}

.icone{
    width: 45px;
    height: 50px;
}








/* Media query for responsive design */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    #google-container {
        margin-top: 100px; /* Adjust margin for smaller screens */
    }

    .search-box {
        width: 100%; /* Make search box full width */
        margin: 10px; /* Add some margin */
    }

    #search-button {
        width: 100%; /* Make the button full width */
        margin-top: 10px; /* Adjust margin */
    }

    #notes-list {
        margin-right: 350px; /* Remove margin for notes list */
    }

    .time-box {
        float: none; /* Remove float for time box */
        margin-top: -118px; /* Add margin */
       margin-left: 5px;
       
    }
}
